<div id="<%= dom_id fork %>">
  <p>
    <strong>Story:</strong>
    <%= fork.Story_id %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <%= fork.Chapter_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= fork.place %>
  </p>

</div>
