<div id="<%= dom_id story %>">

  <%= image_tag story.cover.url, width: 700, height: 304 %>
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>



  <p>
    <strong>Annotation:</strong>
    <%= story.annotation %>
  </p>

  <%# <p> %>
    <%# <strong>Is public:</strong> %>
    <%# story.is_public %>
  <%# </p> %>




</div>
