<div id="<%= dom_id chapter %>">
  <p>
    <strong>Title:</strong>
    <%= chapter.title %>
  </p>

  <p>
    <strong>Chapter body:</strong>
    <%= chapter.chapter_body %>
  </p>

  <%# <p> %>
    <%# <strong>Place:</strong> %>
    <%# chapter.place %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Is public:</strong> %>
    <%# chapter.is_public %>
  <%# </p> %>

</div>
