body {
    font-family: "Gilroy";
    size: 22px;
    margin: 60px;
}

a {
    font: "ONYOone";
    text-decoration: none;
    color: black;
}

input {
  all: unset;
}

h1 {
    font-family: "ONYOone";
    font-size: 30px;
    margin-bottom: 15px;
}

.A_Button {
    margin-bottom: 18px;
    margin-left: 82.6%;
    right: 0;
    /* margin: 0 0px 18px 0px; */
    width: fit-content;
    padding: 10px 20px;
    align-content: center;
    display: block;
    border-radius: 15px;
    background-color: #FFA07D;
    color: black;
}

img {
   object-fit: cover;
}

.WelcomeBody {
    background-color: #08090A;
    font-family: "Gilroy";
    color: #F8F6F0;
}

.M_Menubar_Promo {
    width: 100%;
    margin: 0 0 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font: "Gilroy";
    font-size: 22px;
    color: #F8F6F0;

    .A_MainLinks {
      a {
        color: #F8F6F0;
      }

    }
}


.Subhead{
    margin: 50px 96px 0;
    position: absolute;
    color: #F8F6F0;
    font-family: "GilroyItalic";
    font-size: 40px;
}

.Headline {
    margin: 280px 156px 0;
    text-align: center;
    align-content: center;
    position: absolute;
    color: #F8F6F0;
    font-family: "GilroySemibold";
    font-size: 96px;

}
.FolderImgPink {
    width: fit-content;
    margin: 0 auto;
}

.MadeBy{
    top: 900px;
    padding: 0px 100px;
    /* margin: 0 auto; */
    width: 1200px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

.MadeByPurple {
    margin-top: 735px;
    /* top: 900px; */
    padding: 0px 100px;
    /* margin: 0 auto; */
    width: 1200px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

.Cactus {
    position: absolute;
    transform: scale(1);
    margin-left: -80px;
    margin-top: 140px;
}

.wobble-hor-top {
	animation: wobble-hor-top 2s ease-in-out infinite both;
}

.Socials {
    gap: 15px;
    margin-top: 630px;
    margin-left: 680px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.Eyes {
    bottom: 560px;
    /* top: 0px; */
    right: 340px;
    position: absolute;
}

.shake-right {
	animation: shake-right 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 4s infinite both;
}

.FstBlock {
    display: block;
    margin-top: 30px;
}

.LogoFolder {
    margin: 0 auto;
    width: fit-content;
}

.Pencil {
    margin-top: 75px;
    left: 280px;
    position: absolute;
}

.shake-bl {
	animation: shake-bl 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.DescrImg {
    margin: 0 auto;
    width: fit-content;
}

.BlocDescr {
    margin-top: -4px;
}

.BlockSubAgain {
    margin-top: 160px;
}
.SubFolderPurple {
    margin: 0 auto;
    width: fit-content;
}

.Coffee {
    margin: 120px 0px 0px -30px;
    position: absolute;
}

.shake-tr-cof {
	animation: shake-tr-cof 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.Books {
    margin-top: 200px;
    /* bottom: 00px; */
    right: 320px;
    position: absolute;
}


.SubFormInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


.SubForm {
  margin: 530px 400px 0px;
  position: absolute;

}

.A_Mailfield {
  background-color: #F8F6F0;
  padding: 20px 300px 20px 20px;
  border-radius: 40px;
}

.A_SubmButton {
  background-color: #08090A;
  color: #F8F6F0;
  padding: 20px;
  border-radius: 40px;
}


@keyframes wobble-hor-top {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(6deg);
    }
    30% {
      transform: translateX(15px) rotate(-6deg);
    }
    45% {
      transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(1.2deg);
    }
  }

  @keyframes shake-right {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 100% 50%;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
  }
  
  @keyframes shake-bl {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 0 100%;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
  }

  @keyframes shake-tr-cof {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 0 100%;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
  }
  
  
  