body {
    font-family: "ONYOone";
    size: 22px;
    margin: 60px;
}

a {
    font: "ONYOone";
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "ONYOone";
    font-size: 30px;
    margin-bottom: 15px;
}

.A_Button {
    margin-bottom: 18px;
    margin-left: 82.6%;
    right: 0;
    /* margin: 0 0px 18px 0px; */
    width: fit-content;
    padding: 10px 20px;
    align-content: center;
    display: block;
    border-radius: 15px;
    background-color: #FFA07D;
    color: white;
}