.M_Menubar {
    width: 100%;
    margin: 0 0 60px;
    display: inline-flex;
    justify-content: space-between;
}

.A_MainLinks {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.A_LoginMenu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

