.M_StoryCard, .M_Chapter {
    display: flex;
    flex-direction: column;
    background-color: #FFDEBC;
    border-radius: 40px;
    margin-bottom: 30px;

}

.M_StoryCard_Admin {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 40px;
    margin-bottom: 30px;   
}

.M_Story {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.M_Chapter {
    padding: 30px 40px;
}

.M_StoryEditB {
    display: flex;
    flex-direction: row;
    margin-left: 58%;
    

    .A_Button {
        margin: 0 0 20px 20px;
    }
}