<nav>
    <%= link_to "Главная", root_path %>
    <%= link_to "Истории", stories_url %>
    <%= link_to "О нас" %>
    <%= link_to "Промо" %>
    <%# <% link_to "Главная", root_path %>
    <%# <% link_to "Главная", root_path %>
</nav>