<div id="<%= dom_id chapter %>" class="M_Chapter">
 <div class="A_ChapterContent">
    <p class="Q_ChapterTitle">
      <%= chapter.title %>
    </p>

    <p class="Q_ChapterText">
      <%= chapter.chapter_body %>
    </p>
 </div>


  <div class="A_Button">
      <%= link_to "Перейти в главу", admin_chapter_path(chapter) %>
  </div>
</div>
