<p style="color: green"><%= notice %></p>

<% content_for :title, "Chapters" %>



<h1>Главы всех историй</h1>

<div class="A_Button">
<%= link_to "Добавить главу", new_admin_chapter_path %>
</div>



<div id="chapters">
  <% @chapters.each do |chapter| %>
    <%= render chapter %>
  <% end %>
</div>



